.TreeCard {
  margin: 40px 40px;
  padding: 10px 0;
  max-width: 678px;
  text-align: center;
  background-color: #EEEFF3;
  border-radius: 10px;
  position: relative;
}

.TreeCard .Title {
  margin: 0px 5px;
  font-size: 20px;
  text-align: left;
}

.TreeCard .InputBox {
  margin: 10px 10px;
}

.TreeCard .CheckboxComp {
  float: left;
  margin: 5px -5px;
}

.TreeCard .InputBoxText {
  float: left;
  margin: 5px 15px;
}

.TreeCard .Submit {
  float: right;
  margin: 5px 15px;
}

@media screen and (max-width: 678px) {
  .TreeCard {
    margin: 10px 10px;
  }
}
